<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="description" content="반려동물 동반 장소 지도" />
    <title>DogCourse Map</title>
    <link rel="icon" type="image/x-icon" href="assets/imgs/dog-face.png">
    <link rel="stylesheet" type="text/css" href="assets/css/info-box.css">
    <script src="https://unpkg.com/fxjs/dist/fx.js"></script>
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId={{clientId}}"></script>
    <script type="text/javascript" src="assets/js/dogcourse.js"></script>
    <script>
        let type = "{{type}}";
        let address = "{{address}}";
        let centerLat = "{{centerLat}}";
        let centerLng = "{{centerLng}}";
    </script>
</head>
<body>
    <div id="map" style="width:100%;height:98vh;position:absolute"></div>
    <div id="loader"></div>
    <div id="placeInfoBox" class="place-info-box">
        <div class="place-info-box-top">
            <div class="place-info-boxtop-left">
                <a id="placeLink" href="">
                    <div id="placeName" class="title">name</div>
                    <div id="placeAddress" class="subtitle">address</div>
                </a>
            </div>
            <div class="place-info-boxtop-right">
                <a id="phoneLink" href="" target="_blank" class="icon-link"><img src="assets/imgs/phone-18.png" alt="icon"/></a>
                <a id="shareLink" href="" target="_blank" class="icon-link"><img src="assets/imgs/share-18.png" alt="icon"/></a>
                <a id="naverMapLink" href="" target="_blank" class="icon-link"><img src="assets/imgs/navigator-18.png" alt="icon"/></a>
            </div>
        </div>
        <div id="imageSlideBox" class="place-info-box-middle">
        </div>
    </div>
</body>
</html>